@import "../../../../variables";

:host {
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: 1;

	background-color: $background-color;

	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
