.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.center-horizontal {
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

.scroll {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.clickable {
	cursor: pointer;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}
