$font-family: 'Open Sans', sans-serif;
$background-color: white;

$window-margin: 10px;
$btn-icon-size: 40px;

$color-secondary: rgb(110, 110, 110);

$navigation-bar-height: 91px;
$top-controls-height: 40px;

$border-radius: 4px;

$transition-duration: 0.3s;
